doctype html
html lang="id" dir="ltr"
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"
		meta name="X-UA-Compatible" content="IE=edge"
		title Wots
		link rel="icon" sizes="any" href="favicon.svg"
		sass:
			@use 'sass:map'
			@import "http://rsms.me/inter/inter.css"
			@import "http://fonts.googleapis.com/css2?family=Noto+Color+Emoji"
			
			// 10% = 1a
			// 25% = 3
			// 50% = 8
			// 75% = c
			// 90% = e6
			
			// Dasar

			$gambar: "http://dpqb-web.gitlab.io/id.wots/bahan/gambar/"
			$tekstur-kasar: $gambar + "tekstur-kasar.webp"

			*
				margin: 0
				padding: 0
				border: 0
				outline: 0
				font-size: 100%
				background: #0000
				box-sizing: border-box
							
			[hidden], .hidden 
				display: none !important

			html
				background:
					color: var(--latar-warna, #e6e6e6)
					image: var(--latar-gambar, url($tekstur-kasar))
					repeat: var(--latar-ulang, repeat)
					position: top center
					
			body
				max-width: 960px
				// max-width: calc(100vw / 32 * 30)
				margin: auto

			html, input, button, textarea
				font:
					weight: normal
					size: 12px
					// size: 14px
					family: Inter, sans-serif, "Noto Color Emoji"
				color: #000
				
			a, :visited, :any-link
				color: #000
				cursor: pointer
				text-decoration:
					style: dotted
					color: rgb(#000, 0.5)
					line: underline
							
				&:hover
					text-decoration:
						style: solid
						color: #000
				&:active
					text-decoration:
						style: dotted
								
			=gan-war-tau($war)
				a, :visited, :any-link
					color: $war
					text-decoration:
						color: rgb($war, 0.5)
								
					&:hover
						text-decoration:
							color: $war
			// Isi

			.utama
				@at-root header#{&}, footer#{&}, main#{&}
					display: grid
					grid-template-columns: repeat(12, minmax(0, 1fr))
					gap: 20px
					padding: 10px
					
				@at-root header#{&}, footer#{&}
					backdrop-filter: blur(5px)
					box-shadow: 0 0 5px 5px #8888, inset 0 0 0 1px #fff8
					background: #e6e6e680
					text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff
					border: 1px solid #1a1a1a

				@at-root header#{&}
					border-radius: 0 0 5px 5px
					border-top: 0

					.hal-depan
						grid-column: 1/5
					.cari
						grid-column: 5/9
						text-align: center
						
						label
							cursor: text
							background: #000
							border-radius: 5px 0 0 5px
							box-shadow: inset 0 1px 5px #1a1a1a1a
						button
							background: #1a1a1a
							border-radius: 0 5px 5px 0
					.pengguna
						grid-column: 9/13
						text-align: end

				@at-root footer#{&}
					border-radius: 5px 5px 0 0
					border-bottom: 0

					.tautan
						grid-column: 1/10

						a
							margin-inline: 5px

							&:first-child
								margin-inline-start: 0
							/* &:last-child
								margin-inline-end: 0 */
					.hak-cipta
						grid-column: 10/13
						text-align: end
				
				@at-root main#{&}
					min-height: 100vh
					padding: 10px 0
					gap: 0
					
					> article
						grid-column: 1/10
					> aside
						grid-column: 10/13
					section
						padding: 10px
						
						header
							padding-bottom: 10px
							border-bottom: 1px solid #ccc
	body
		header.utama
			.hal-depan
				a href="index.html" Wots (HTML)
			form.cari action="cari.html" method="get"
				label
					input type="search" name="k" placeholder="Telusuri"
				button type="submit" Cari
			.pengguna
				a href="daftar_masuk.html" Daftar/Masuk
		main.utama
			== yield
		footer.utama
			.tautan
				a href="ttg.html" Tentang
				a href="bantu.html" Bantuan
				a href="blog.html" Blog
				a href="hak_cipta.html" Hak Cipta
				a href="privasi.html" Kebijakan Privasi
				a href="s_k.html" Syarat & Ketentuan
				a href="lowong.html" Lowongan
				a href="pengembang.html" Pengembang
			.hak-cipta
				| &copy; 
				= Time.now.year
				|  Wots. Hak cipta dilindungi.